<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Turismo - Destinos Turísticos Famosos</title>
    <link rel="stylesheet" href="StyleQ.css">
</head>
<body>
    <div class="container">
        <h1>Quiz de Turismo - Destinos Turísticos Famosos</h1>
        <form action="#">
            <div class="question">
                <p>1. ¿Cuál de los siguientes es un famoso destino turístico en Francia?</p>
                <input type="radio" name="q1" value="La Torre Eiffel"> La Torre Eiffel<br>
                <input type="radio" name="q1" value="La Sagrada Familia"> La Sagrada Familia<br>
                <input type="radio" name="q1" value="El Coliseo"> El Coliseo<br>
                <input type="radio" name="q1" value="El Big Ben"> El Big Ben<br>
            </div>
            
            <div class="question">
                <p>2. ¿Qué famoso monumento se encuentra en Egipto?</p>
                <input type="radio" name="q2" value="Las Pirámides de Giza"> Las Pirámides de Giza<br>
                <input type="radio" name="q2" value="Machu Picchu"> Machu Picchu<br>
                <input type="radio" name="q2" value="La Muralla China"> La Muralla China<br>
                <input type="radio" name="q2" value="El Taj Mahal"> El Taj Mahal<br>
            </div>
            
            <div class="question">
                <p>3. ¿Cuál de estos lugares es conocido como "La Ciudad Prohibida"?</p>
                <input type="radio" name="q3" value="Pekín, China"> Pekín, China<br>
                <input type="radio" name="q3" value="Bangkok, Tailandia"> Bangkok, Tailandia<br>
                <input type="radio" name="q3" value="Kioto, Japón"> Kioto, Japón<br>
                <input type="radio" name="q3" value="Seúl, Corea del Sur"> Seúl, Corea del Sur<br>
            </div>
            
            <div class="question">
                <p>4. ¿En qué país se encuentra el famoso sitio de Machu Picchu?</p>
                <input type="radio" name="q4" value="Perú"> Perú<br>
                <input type="radio" name="q4" value="Chile"> Chile<br>
                <input type="radio" name="q4" value="Argentina"> Argentina<br>
                <input type="radio" name="q4" value="Ecuador"> Ecuador<br>
            </div>
            
            <div class="question">
                <p>5. ¿Cuál es la capital de Italia, famosa por su historia y arquitectura?</p>
                <input type="radio" name="q5" value="Roma"> Roma<br>
                <input type="radio" name="q5" value="Milán"> Milán<br>
                <input type="radio" name="q5" value="Venecia"> Venecia<br>
                <input type="radio" name="q5" value="Florencia"> Florencia<br>
            </div>
            
            <input type="submit" value="Enviar">
        </form>
    </div>

    <footer>
        <p>© 2024 Quiz de Turismo - Destinos Turísticos Famosos</p>
    </footer>
</body>
</html>
