
body {
    font-family: Arial, sans-serif;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

header {
    background-color: #e43636de;
    color: white;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li {
    position: relative;
    margin: 0;
}
.menu > li {
    margin-right: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}
.menu a:hover {
    background-color: #f05252;
}

/* Submenús */
.submenu {
    display: none;
    position: absolute;
    top: 100%; /* Muestra el submenú justo debajo del elemento padre */
    left: 0;
    background-color: #f05757;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.submenu li {
    margin: 0;
}
.submenu a {
    color: white;
    padding: 10px;
    white-space: nowrap; /* Evita que los textos largos se dividan */
}
.submenu a:hover {
    background-color: #979494;
}

/* Mostrar submenú al pasar el ratón */
.menu li:hover > .submenu {
    display: block;
}


form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
